<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
  <div class="row row justify-content-center align-items-center">
    <div class="col-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">新增商品資料</h5>
          <form name="form1" onsubmit="postForm(event)">
            <div class="mb-3">
              <label for="product_type" class="form-label">分類</label>
              <select name="product_type" id="product_type" class="form-select">
                <option value="1" <%= "product_type" == 1 ? 'selected' : '' %>>商品</option>
                <option value="2" <%= "product_type" == 2 ? 'selected' : '' %>>課程</option>
                <option value="3" <%= "product_type" == 3 ? 'selected' : '' %>>住宿</option>
                <option value="4" <%= "product_type" == 4 ? 'selected' : '' %>>餐點</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="product_name" class="form-label">商品名稱</label>
              <input type="text" class="form-control" id="product_name" name="product_name">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="product_class" class="form-label">商品類型</label>
              <input type="text" class="form-control" id="product_class" name="product_class">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="product_price" class="form-label">商品價格</label>
              <input type="number" class="form-control" id="product_price" name="product_price">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="product_descripttion" class="form-label">商品說明 </label>
              <textarea  class="form-control" id="product_descripttion" name="product_descripttion" cols="30" rows="6"></textarea>
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="product_unit" class="form-label">販售單位</label>
              <input type="text" class="form-control" id="product_unit" name="product_unit">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <textarea class="form-control" type="text" name="product_image" cols="30" rows="3"></textarea>
              <br>
              <label for="product_image" class="product_image">選擇圖片</label>
              <button type="button" onclick="selectFileBtn.click()">選擇圖片</button>


            </div>  
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <input type="button" class="btn btn-primary me-md-2" onclick="history.back();" value="返回">
              <button type="submit" class="btn btn-primary">送出</button>
            </div>
          </form>
          <form name="uploadForm" style="display:none">
            <input type="file" class="form-control" id="selectFileBtn" name="images" multiple="multiple">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('parts/scripts') %>
<script>
  const uploadForm = document.uploadForm;
  const selectFileBtn = document.querySelector('#selectFileBtn');

  selectFileBtn.onchange = (e)=>{
    const fd = new FormData(uploadForm);

    fetch('/product/upload-img',{
      method: 'POST',
      body: fd
    }).then(r=>r.json())
    .then(ar=>{
      let ori = document.form1.product_image.value;
      ori = ori.split('');

      ar.forEach(f=>{
        ori.push(f.filename);
      })

      document.form1.product_image.value = ori.join(',');

    })

  }


  function postForm(event){
    event.preventDefault();

    //TODO: 資料檢查
    const fd = new FormData(document.form1);
    fetch('',{    //('')空字串-> 代表路徑url與原本的路徑url相同
      method:'POST',
      body: fd
    })
      .then(r=>r.json())
      .then(data=>{
        console.log(data);
        if(data.success){
          alert('新增成功');
          location.href = '/product';
        }else{
          alert('新增失敗');
        }
      });
  }

</script>
<%- include('parts/html-foot') %>
